.menu {
  position:absolute;
  top:0px;
  right: 0px;
  left:0px;
  min-heigh:32px;
  background: url('../www/window/menu/img/bg.png') repeat-x;

  .menu__item {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
  }
}